<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Z.EntityFramework.Classic" version="7.1.10" targetFramework="net45" />
  <package id="Z.EntityFramework.Extensions.Classic" version="3.21.2" targetFramework="net45" />
  <package id="Z.Expressions.Eval" version="2.9.39" targetFramework="net45" />
</packages>