<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Z.EntityFramework.Classic" version="7.1.7" targetFramework="net45" />
  <package id="Z.EntityFramework.Extensions.Classic" version="3.17.4" targetFramework="net45" />
  <package id="Z.Expressions.Eval" version="2.9.31" targetFramework="net45" />
</packages>